<!DOCTYPE html>
<html>
  <head>
    <title>WapiiNet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', turbolink_track: true %>
  </head>

  <body>
    <div class="container-fluid">
      <%= render 'layouts/header' %>
      <section class="content">
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
